
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 5px solid red;
    height: 100vh;
}

ul {
    list-style-type: none;
    border: 5px solid pink;
    padding: 5%;
    width: 60%;
    margin: auto;
}

li {    
    width: full;
    margin-top: 5%;
}