body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px auto;
    max-width: 460px;
  }


  fieldset > div {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
  }

  button, label, input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
  }


  input + span {
    position: relative;
  }

  input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: black;
    padding: 5px 10px;
    top: -26px;
    left: -70px;
  }

  button {
    width: 60%;
    margin: 0 auto;
  }